<!-- Hero Section -->
<section
  id="hero-section"
  class="hero-section text-white text-center"
  style="background-image: url({{ section.settings.background_image | image_url }});"
>
  <div class="hero-overlay"></div>
  <div class="container position-relative z-1">
    <h1 class="display-4 fw-bold mb-2 lh-sm">
      {{ section.settings.heading | newline_to_br }}
    </h1>
    <p class="lead mb-4">
      {{ section.settings.subheading }}
    </p>
    {% if section.settings.button_text != blank %}
      <a href="{{ section.settings.button_link }}" class="btn btn-custom-primary text-white py-3 px-5 shadow-lg">
        {{ section.settings.button_text }}
      </a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Hero Section",
  "tag": "section",
  "class": "hero-wrapper",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Build Confidence\nAnd Character At Home"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Find your family's home learning solution & get 15% off in May."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "GET STARTED"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
